<footer class="bg-dark text-center text-white py-3 mt-5">

    <!-- lista de botões no final do footer -->
    <ul class="nav justify-content-end">
        <!-- botão do instagram -->
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://www.instagram.com/itscalabrini/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a>
        </li>
        <!-- botão do e-mail 
        <li class="nav-item">
            <a class="nav-link" href="#" target="_blank"><i class="fa-regular fa-envelope"></i> Contado por Gmail</a>
        </li>
         botão de admin 
        <li class="nav-item">
            <a class="nav-link" href="#" target="_blank"><i class="fa-solid fa-users-gear"></i></a>
        </li> -->

        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true"></a>
        </li>
        

        <ul class="nav justify">
            <li>
                <a href="https://github.com/Scalabrini17" 
                    target="_blank" 
                    class="btn btn-dark d-inline-flex align-items-center shadow-sm">
                    <i class="fab fa-github me-2"></i>
                    <span>Crafted by <strong>Scalabrini</strong></span>
                </a>
            </li>
        </ul>
    </ul>

    <!-- nome da compania -->
    <p class="text-center" ></p> 
    
    
</footer>
