<!-- Sidebar fixa (desktop) -->
  <div class="sidebar d-none d-md-flex flex-column">
      <ul class="nav flex-column">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'task:home' %}"><i class="fa-solid fa-house me-2"></i>Página Inicial</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'task:task' %}"><i class="fa-solid fa-list-check me-2"></i>Tarefa</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'task:add_task' %}"><i class="fa-solid fa-plus me-2"></i>Nova Tarefa</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'task:task_finalizada' %}"><i class="fa-solid fa-check-double me-2"></i>Finalizadas</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'task:lixeiraTask' %}"><i class="fa-solid fa-trash me-2"></i>Lixeira</a>
          </li>
      </ul>
  </div>

  <!-- Offcanvas (mobile) -->
  <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="sidebarMobile">
      <div class="offcanvas-header">
          <h5 class="offcanvas-title">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
          <ul class="nav flex-column">
              <li class="nav-item"><a class="nav-link" href="{% url 'task:home' %}"><i class="fa-solid fa-house me-2"></i>Página Inicial</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'task:task' %}"><i class="fa-solid fa-list-check me-2"></i>Tarefa</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'task:add_task' %}"><i class="fa-solid fa-plus me-2"></i>Nova Tarefa</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'task:task_finalizada' %}"><i class="fa-solid fa-check-double me-2"></i>Finalizadas</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'task:lixeiraTask' %}"><i class="fa-solid fa-trash me-2"></i>Lixeira</a></li>
          </ul>
      </div>
  </div>