{% extends 'base/base.html' %}

{% load static %}

{% block content %}

<h1> PÁGINA PARA MOSTRAR AS TASK </h1>

{% for task in get_task %}

<div class="card mt-3">
    <div class="card-body">
        <h5>{{ task.nome }}</h5>

        <p>{{ task.descricao }}</p>

        <p>
            <strong>Prazo:</strong>
            {{ task.prazo }}
        </p>

        <p>
            <strong>Prioridade:</strong>
            {{ task.prioridade }}
        </p>

        <p>
            <strong>Status:</strong>
            {{ task.status }}
        </p>

        <a href="{% url 'task:excluir_task' task.id %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">Excluir task</a>
        <a class="btn btn-success" href="{% url 'task:editar_task' task.id %}" role="button">Editar task</a>

    </div>
</div>

{% empty %}

<p>Nenhuma tarefa cadastrada.</p>

{% endfor %}

{% endblock %}