{% extends 'base/base.html' %}

{% load static %}

{% block content %}

<h1 class="mb-4">VISUALIZAR TAREFA</h1>

<a class="btn btn-outline-light mb-4"  href="{% url 'task:task' %}">
    ❮ Voltar
</a>

<div class="card p-4">

    <h2>{{ task.nome }}</h2>

    <hr>

    <h5>Descrição</h5>
    <p>{{ task.descricao }}</p>

    <h5>Prazo</h5>
    <p>{{ task.prazo }}</p>

    <h5>Prioridade</h5>
    <p>{{ task.get_prioridade_display }}</p>

    <h5>Status</h5>
    <p>{{ task.get_status_display }}</p>

</div>

<div class="d-flex gap-2">

    <a href="{% url 'task:editarTask' task.id %}" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar tarefa">
        <i class="fa-solid fa-pen"></i>
    </a>

    <a href="{% url 'task:mandarTaskLixo' task.id %}" class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Mover Tarefa para Lixeira">
        <i class="fa-solid fa-trash-can"></i>
    </a>

    <a href="{% url 'task:finalizarTask' task.id %}" class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Finalizar tarefa">
        <i class="fa-solid fa-circle-check"></i>
    </a>

</div>

{% endblock %}